<!DOCTYPE html>
<html>
<head>
    <title>豆瓣不存在的书影音</title>

    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <style>
    .douban{
      text-align: center;
      background-color: #fff;
      border-radius: 20px;
      width: 300px;
      height: 350px;
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%,-50%);
    }
    </style>

</head>
<body>
  <div class="douban" style="width:66.7%;"

  <main id="content" class="main-content" role="main">
    {{ content }}
